body {
    background-color: beige;
    overflow-x: hidden;
    overflow-y: scroll;
}

.jumbotron {
    background-image: url('../resources/images/banner.png');
    background-blend-mode: color-burn;
    background-position: center;
    background-size: cover; 
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.jumbotron p {
    font-size: 1.5rem;
    font-weight: 300;
}

.triptile {
    background-image: url('../resources/images/route01.png');    /* ########### TODO: remove ############### */
    background-size: cover;
    border-right: 5px solid beige;
    border-bottom: 5px solid beige;
    opacity: 0.8;
}

.triptile:hover {
    opacity: 1; 
    border-right: 5px solid rgb(252, 252, 197);
    border-bottom: 5px solid rgb(252, 252, 197);
}

.trip-length, .trip-duration {
    font-size: 0.8rem;
    font-weight: 800;
    margin-right: 1rem;
}

form {
    display: flex;
}

.form-control {
    font-size: 1.2rem;
}

#tripId, #locationId {
    display: none;
}

.triptile#t001 {
    background-image: url('../resources/images/route01.png');
}

.triptile#t002 {
    background-image: url('../resources/images/route01.png');
}

.triptile#t003 {
    background-image: url('../resources/images/route01.png');
}

.newtrip, .triplocations, .locationdetail, #prevlocation {
    display: none;
}

.card {
    width: 15rem;
    height: 4rem;
    margin: 0.3rem;
    background-color: lightgoldenrodyellow;
}

.btn-location {
    width: 15rem;
    height: 3rem;
    margin: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Segoe UI Semibold", Helvetica, sans-serif;
    color: rgba(33, 37, 41, 0.918);
    background-color: rgb(253, 253, 154);
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: background-color 200ms linear 10ms;
}

.btn-location:hover {
    background-color: rgb(248, 248, 93);    
}

#input-newlocation {
    height: 2.7rem;
    width: 15rem;
    position: relative;
    /* top: -0.2rem; */
    left: -.3rem;
    border: 2px solid lightskyblue;
}

.geomap-detail {
    min-height: 15rem;
    /* ############# */
    border: 1px solid lightblue;
    background-color: lavenderblush;
}

.name-detail, .camping-detail, .sights-detail, .photogallery-detail {
    min-height: 2rem;
    /* ############# */
    border: 1px solid lightblue;
    background-color: lavenderblush;
}

#testmap, #map, #locMap {
    height: 24rem;
    width: 100%;
}

.borderRed {
    /* border: 1px solid red; */
}

.borderGreen {
    /* border: 2px solid mediumspringgreen; */
}

footer {
    margin-top: 300px; 
    /* ############# */
    font-size: 0.6rem;
    color: grey;
    background-color: beige;
    padding: 2rem 0 0.2rem 1rem;
}

